<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iwd_osc>
            <general>
                <enabled>1</enabled>
                <layout_mode>one_page</layout_mode>
                <auto_save_shipping>1</auto_save_shipping>
                <relocatable_methods>checkmo,banktransfer,purchaseorder,cashondelivery,free,paradoxlabs_authnetcim</relocatable_methods>
            </general>
            <partners>
                <paypal_bn_code/>
            </partners>
            <legal>
                <terms_cms_page/>
                <privacy_cms_page/>
            </legal>
            <features>
                <order_comment>0</order_comment>
                <newsletter>0</newsletter>
                <guest_to_customer>0</guest_to_customer>
            </features>
        </iwd_osc>
    </default>
</config>
