<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="iwd_osc_order_fields"
                type="IWD\OneStepCheckout\Plugin\Checkout\PaymentInformationManagementPlugin"/>
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="iwd_osc_order_fields_guest"
                type="IWD\OneStepCheckout\Plugin\Checkout\GuestPaymentInformationManagementPlugin"/>
    </type>

    <type name="IWD\OneStepCheckout\Plugin\Checkout\PaymentInformationManagementPlugin">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="IWD\OneStepCheckout\Plugin\Checkout\GuestPaymentInformationManagementPlugin">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Paypal\Model\AbstractConfig">
        <plugin name="iwd_osc_paypal_bn_code"
                type="IWD\OneStepCheckout\Plugin\Paypal\BuildNotationCodePlugin"/>
    </type>

    <type name="IWD\OneStepCheckout\Observer\SaveOrderData">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
